<%= form_tag hybridge.perform_path do %>
<div class="col-xs-12 main-header">
  <h1><span class="fa fa-magic"></span> HyBridge Ingest</h1>
  <div class="pull-right">
    <%= button_tag("Ingest Selected", type: "submit", class: "btn btn-large btn-primary") %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title h2">Ready</h2>
        <span>Select csv packages to ingest</span>
      </div>
      <div class="panel-body">
        <table class="table table-condensed">
          <thead>
            <th scope="col">Select</th>
            <th scope="col">Filename</th>
            <th scope="col" class="text-right">Collection</th>
          </thead>
          <tbody>
            <% @packages.each do |package| %>
              <tr>
                <td class="col-md-1">
                  <label for="package_id_">
                    <%= check_box_tag 'package_id[]', package %>
                  </label>
                </td>
                <td class="col-md-7"><%= package %></td>
                <td class="col-md-4 text-right">
                  <label for="collection_id">
                    <%= select_tag "collection_id[#{package}]", options_for_select(@collections.collect {|c| [ c[:title], c[:id] ] }), {:include_blank => '', :class => 'form-control select optional'} %>
                  </label>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<% end %>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title h2">Processing</h2>
      </div>
      <div class="panel-body">
        <table class="table table-condensed">
          <thead>
            <th scope="col">Filename</th>
          </thead>
          <tbody>
            <% @processing.each do |package| %>
              <tr>
                <td class="col-md-11"><%= package %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title h2">Complete</h2>
      </div>
      <div class="panel-body">
        <table class="table table-condensed">
          <thead>
            <th scope="col">Filename</th>
          </thead>
          <tbody>
            <% @processed.each do |package| %>
              <tr>
                <td class="col-md-11"><%= package %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>